
@media screen and (max-width: 576px) {
    .navigation-container, 
    .nav-container{
        flex-direction: column;
        text-align: center;
    }
    .logo-item{
        margin-bottom: 30px;
    }
    .follow-text{
        display: block;
        padding: 0;
        width: max-content;
        margin-top: 30px;
    }  

}